body {
    background-color: aliceblue;
    font-family: 'Raleway', sans-serif;
  }
  
  #banner {
    background-image: url("https://c1.wallpaperflare.com/preview/166/493/163/drink-glass-cold-ice.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 690px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #banner .content h1 {
    position: relative;
    left: 320px;
    top: 130px;
    width: 670px;
    height: 360px;
    margin: 0 auto;
    text-align: center;
  }
  
  #main {
    padding: 40px;
    text-align: center;
    width: 400px;
  }
  
  h1 {
    color: white;
    font-size: 85px;
    font-weight: 600;
  }
  
  #Ethiopia .ethiopia h2 {
    color: red;
    font-size: 50px;
    line-height: 48px;
  } 

  #CostaRica .costarica h2 {
    color: red;
    font-size: 50px;
    line-height: 48px;
  }

  #Jamaica .jamaica h2 {
    color: red;
    font-size: 50px;
    line-height: 48px;
  }
  
  #Yemen .yemen h2 {
    color: red;
    font-size: 50px;
    line-height: 48px;
  }

  #Brazil .brazil h2 {
    color: red;
    font-size: 50px;
    line-height: 48px;
  }

  #Colombia .colombia h2 {
    color: red;
    font-size: 50px;
    line-height: 48px;
  }

 /* #Header .ethiopia2 h1 {
    position: relative;
    right: 150px;
    top: 60px;
    width: 670px;
    height: 360px;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
} */

  p {
    color: grey;
    font-size: 16px;
    line-height: 48px;
  }
  
